<html>
<head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">
   .jumbotron{
 
    border: 2px solid grey;
    
    background-color:lightblue;
    text-align: center;
    
   }
   h4,h2{
   
     color: #1C515B;

   }
   select{
color: lightblue;
   }
   h4{
    font-size: 25px;
   }
   label{
    color: #1C515B;
   }
   .StoryHeader{

      
    background: #2e6f7d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 15px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 2em;


    }
    td, th {
    padding: 11px;
}

   /*/*#route{
    /*margin-left: 34%;*/
  /* }*/
  /* .row{
    margin-left: 32%;

   }*/
   /*.button{*/
        /*margin-left: 34%;*/

   /*}*/*/*/
   .error{
    color: red;
   }
  
  
 </style>

<script>
  
  storypost=(e)=>{



    $.ajax({
        url:'http://10.90.90.97:8000/save_details',
        method:'post',
        
        dataType:'json',
        data:data
        success:function(res){
            console.log(res)
            if(res.status === 'success'){
              
                 

            }
            else{
              
            }
        }.bind(this)
        ,error:function(err){
          console.log('err');
        }

      })  ;

  }
</script>

</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
 

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">


        <li class=""><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li class="active"><a href="" >Post a story</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/adminlogin"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

      </ul>
    </div>
  </div>
</nav>
<form method="post" id="first_form" action="/save_details">
     <center><h4>Post a story</h4></center>
     <table align="center">
     
              <tr>
                <td>
                  <label>Title:</label>
                </td>
                <td>
                  <input type="text" name="title"  class="form-control input-lg" required>
                </td>
              </tr>


               <tr>
                <td>
                  <label>category:</label>
                </td>
                <td>
                 <select class="form-control input-lg" name="category"  required>
    <option value="select">-select</option>
    <option value="Health">Health</option>
    <option value="Politics">Politics</option>
     <option value="Tech">Tech</option>
    <option value="Culture">Culture</option>
    <option value="Design">Design</option>
     <option value="New">New</option>
    <option value="Popular">Popular</option>



  </select>
                </td>
              </tr>

                <!-- <tr>
                <td>
                  <label>Image:</label>
                </td>
                <td>
                  <input type="file" name="pic" accept="image/*"   >
                </td>
              </tr>


 -->



              <tr>
                <td>
                  <label>Description:</label>
                </td>
                <td>
            <input type="text" name="description"  class="form-control input-lg" required="" >
                </td>
              </tr>
               <tr>
                <td>
                  <label>Story content:</label>
                </td>
                <td>
                <textarea  cols="50" name="content" rows="8" >
                  
                </textarea>


                  
                </td>
              </tr>
              <tr>
                <td colspan="2" align="center">
                   <input type="submit" value="Post story" class="btn btn-primary btn-lg button"  />
                </td>
              </tr>
            </table>
    </form>
    
</html>